.node {
    padding: 1rem;
    border-radius: 0.125rem;
    font-size: 0.7rem;
}

.highlight {
    border-color: #ff0072 !important;
}

.svelte-flow__edges	{
    z-index: 99 !important;
}

.moveable-line {
    height: 0 !important;
}

